* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.image img {
  height: 300px;
  margin-bottom: 40px;
  border-radius: 5px 5px 0 0;
}
